.nav-bar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  &-link a {
    text-decoration: none;
  }
}
